@model ProductDto
@{
}


<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Yeni Ürün</h2>


        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">İsim</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name" id="UrunEkle">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Marka</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Brand" id="MarkaEkle">
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Kategori</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Category">
                        <option value='Other'>Diger</option>
                        <option value='Phones'>Telefon</option>
                        <option value='Computers'>Bilgisayar</option>
                        <option value='Accessories'>Aksesuar</option>
                        <option value='Printers'>Yazıcı</option>
                        <option value='Cameras'>Kamera</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Fiyat</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Price" id="FiyatEkle">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Açıklama</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="Description" itemid="AciklamaEkle"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Resim</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ImageFile" id="FotoEkle">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary" id="UrunEkleButton">Onayla</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Products" asp-action="Index" role="button" id="UrünEkleIptal">
                        Iptal
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>